<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Youth - Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/app/Home/Home.component.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <div class="logo">Your Youth</div>
          <div class="nav-links">
            <a href="#">Início</a>
            <a href="#">Treino</a>
            <a href="#">Receitas</a>
          </div>
          <button class="btn-login">Entrar</button>
        </div>
      </nav>
    </header>

    <!-- Seção hero fora do container para preencher a tela -->
    <section class="hero">
      <div class="hero-content fade-in-start">
        <h1>Você na sua melhor versão</h1>
        <p>
          Dicas de dietas, treinos, comunidade fitness exclusiva e muito mais.
        </p>
        <button class="btn-hero">Saiba mais</button>
      </div>
    </section>

    <main class="container">
      <!-- Conteúdo futuro da home -->
    </main>

    <script type="module" src="scripts/main.js"></script>
  </body>
</html>
